@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");
.top-navbar > div > div:last-child {
  flex: unset;
}
.app-inner.hdhhdhd.flex.flex-col.min-h-full{
  background-color: white;
}
.new-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}
.flex-center.container.pb-16.sm\:pb-0.home-slider__content.relative.h-full {
  max-width: 100%;
  padding: 0;
}
.bannar-first-img,
.bannar-second-img {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: end;
}
.s-block--hero-slider .swiper-slide .swiper-lazy:after {
  display: none !important;
}
.middel-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.middel-text h3 {
  color: #414444;
  font-family: Cairo;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.middel-text p {
  color: #6b6b6b;
  text-align: center;
  font-family: Cairo;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a.slide-lnk {
  background-image: url(../../images/btn.svg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 180px;
    display: block;
    padding: 10px;
    padding-bottom: 17px;
    font-size: 20px;
}
a.slide-lnk:hover {
  animation: shake 0.4s linear 1;
}
.oneElement {
  max-width: 100% !important;
  padding: 0 !important;
}
.s-block--hero-slider .swiper-slide {
  height: 700px !important;
}
.swiper-slide-active .scale-up-ver-bottom {
  -webkit-animation: slide-fwd-center 4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
p.s-cart-summary-content {
  display: none;
}
header.store-header,section.slider-section,section.s-block.container {
  position: relative;
  z-index: 1111111111111111111111;
}
.s-product-card-content-footer{
  position: absolute;
    width: 80%;
    margin: auto;
    top: -40px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
salla-product-card:hover .s-product-card-content-footer{
  top: -100px;
  opacity: 1;
}
[dir=rtl] .slick-next:before,[dir=rtl] .slick-prev:before {
  content: '←';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='289.9316 127.5167 40.0004 37.2042'%3E%3Cpath d='M 324.816 147.237 C 322.361 141.952 329.932 139.274 329.932 134.086 C 329.932 128.898 319.329 124.78 311.005 129.778 C 300.775 135.92 305.378 133.082 293.613 137.328 C 284.201 140.726 295.148 151.019 300.775 153.902 C 308.959 158.096 314.995 157.96 320.724 160.98 C 326.453 163.999 327.544 158.778 327.374 155.79 C 327.374 153.902 327.272 152.521 324.816 147.237 Z' fill='%23E9B824'/%3E%3Cpath d='M 324.816 150.069 C 322.361 144.784 329.932 142.106 329.932 136.918 C 329.932 131.73 319.329 127.612 311.005 132.61 C 300.775 138.752 305.378 135.914 293.613 140.16 C 284.201 143.558 295.148 153.851 300.775 156.734 C 308.959 160.928 314.995 160.792 320.724 163.812 C 326.453 166.831 327.544 161.61 327.374 158.622 C 327.374 156.734 327.272 155.353 324.816 150.069 Z' stroke='%23EB9122' stroke-width='0.5' style='&%2310; fill: %23665f4a00;&%2310;'/%3E%3Cpath d='M 311.994 149.21 L 307.647 145.16 C 307.134 144.682 307.134 143.899 307.647 143.42 L 311.994 139.37' stroke='%23473603' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' style='&%2310; fill: %23e9b824;&%2310;'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  display: block;
  width: 70px;
}
[dir=rtl] .slick-prev:before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='318.921 149.7714 39.0985 39.4979'%3E%3Cpath d='M 323.921 170.708 C 326.321 165.098 318.921 162.255 318.921 156.746 C 318.921 151.238 329.285 146.866 337.421 152.172 C 347.421 158.693 342.921 155.68 354.421 160.189 C 363.621 163.796 352.921 174.724 347.421 177.785 C 339.421 182.238 333.521 182.093 327.921 185.299 C 322.321 188.505 321.254 182.962 321.421 179.789 C 321.421 177.785 321.521 176.319 323.921 170.708 Z' fill='%23E9B824'/%3E%3Cpath d='M 323.921 173.713 C 326.321 168.103 318.921 165.26 318.921 159.751 C 318.921 154.243 329.285 149.871 337.421 155.177 C 347.421 161.698 342.921 158.685 354.421 163.194 C 363.621 166.8 352.921 177.729 347.421 180.79 C 339.421 185.243 333.521 185.098 327.921 188.304 C 322.321 191.51 321.254 185.967 321.421 182.794 C 321.421 180.79 321.521 179.324 323.921 173.713 Z' stroke='%23EB9122' stroke-width='0.5' style='&%2310; fill: transparent;&%2310;'/%3E%3Cpath d='M 335.959 173.095 L 340.306 168.74 C 340.819 168.226 340.819 167.384 340.306 166.87 L 335.959 162.515' stroke='%23473603' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' style='&%2310; fill: %23e9b824;&%2310;'/%3E%3C/svg%3E");

}
[dir=rtl] .slick-prev {
  right: unset !important;
  left: 105px !important;
  z-index: 1111;
  top: 0;
}
[dir=rtl] .slick-next {
  right: auto;
  left: 40px !important;
  top: 0;
}
.s-block--features__item .feature-icon {
  height: 10rem !important;
  width: 10rem !important;
  background-color: transparent !important;
}
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}

