<section class="features s-block s-block--features container">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4 sm:gap-6 xl:gap-8">
    {% if component.features_view %}
      {% for feature in component.features_lnks %}
        {{ include('./slider2.html',{icon:feature.feature_icon,title:feature.feature_title,des:feature.feature_des})   }}
      {% endfor %}
    {% else %}
        <div class="feature-lide">
        </div>
    {% endif %}  
    </div>
</section>